<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un pronostic</title>
</head>
<body>
    <h1>Ajouter un pronostic</h1>
    <form method="POST">
        <label>Grand Prix :</label>
        <select name="grand_prix">
            {% for gp in grands_prix %}
                <option value="{{ gp }}">{{ gp }}</option>
            {% endfor %}
        </select><br>
	
	<select name="pilote1" required>
          <option value="">-- Choisis le pilote 1 --</option>
  	  {% for pilote in pilotes %}
  	  <option value="{{ pilote }}">{{ pilote }}</option>
  	  {% endfor %}
	</select>

	<select name="pilote2" required>
          <option value="">-- Choisis le pilote 2 --</option>
  	  {% for pilote in pilotes %}
  	  <option value="{{ pilote }}">{{ pilote }}</option>
  	  {% endfor %}
	</select>

	<select name="pilote3" required>
          <option value="">-- Choisis le pilote 3 --</option>
  	  {% for pilote in pilotes %}
  	  <option value="{{ pilote }}">{{ pilote }}</option>
  	  {% endfor %}
	</select>

        <input type="submit" value="Enregistrer">
    </form>
</body>
</html>
