<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/static/sw.js')
        .then(() => console.log("Service Worker enregistré"))
        .catch(err => console.log("Erreur Service Worker:", err));
    }
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pronostics F1 - Accueil</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; }
        table { margin: auto; border-collapse: collapse; width: 80%; }
        th, td { border: 1px solid black; padding: 8px; text-align: center; }
        th { background-color: #f2f2f2; }
        nav a { margin: 10px; text-decoration: none; font-weight: bold; }
    </style>
</head>
<body>

    <h1>🏎️ Pronostics F1 - Saison 2025 🏆</h1>

    <nav>
        <a href="/ajouter_pronostic">➕ Ajouter un pronostic</a> |
        <a href="/ajouter_resultat">📊 Ajouter un résultat</a> |
        <a href="/classement_du_jour">🏁 Classement du jour</a> |
        <a href="/classement_general">📈 Classement général</a>
        <a href="/historique"> historique</a>
    </nav>

<h2>🏁 Classement du dernier Grand Prix</h2>
{% if classement %}
<table>
    <tr>
        <th>Grand Prix</th>
        <th>Participant</th>
        <th>Points GP</th>
        <th>Bonus</th>
        <th>Total</th>
    </tr>
    {% for ligne in classement %}
    <tr>
        <td>{{ ligne["Grand Prix"] }}</td>
        <td>{{ ligne["Participant"] }}</td>
        <td>{{ ligne["Points GP"] }}</td>
        <td>{{ ligne["Bonus"] }}</td>
        <td>{{ ligne["Total"] }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>Aucun classement disponible pour le dernier Grand Prix.</p>
{% endif %}

<h2>📊 Classement Général</h2>
    <table>
        <tr>
            <th>Participant</th>
            <th>Total</th>
        </tr>
        {% for row in classement_general %}
        <tr>
            <td>{{ row["Participant"] }}</td>
            <td>{{ row["Total"] }}</td>
        </tr>
        {% endfor %}
    </table>

{% if nom_utilisateur == "Padre" %}
    <a href="{{ url_for('voir_pronostics') }}">
        <button style="margin-top: 10px;">📋 Voir les pronostics</button>
    </a>
{% endif %}
<h3>🏁 Classement pour le Grand Prix de {{ dernier_gp }}</h3>

</body>
</html>
