<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
</head>
<body>
    <h2>Bienvenue sur les pronostics F1</h2>
    {% if erreur %}
        <p style="color:red;">{{ erreur }}</p>
    {% endif %}
    <form method="POST">
    <label>Nom :</label>
    <input type="text" name="nom" required><br>
    <label>Mot de passe :</label>
    <input type="password" name="mot_de_passe" required><br>
    <input type="submit" value="Se connecter">
</form>
</body>
</html>
